/* line 4, ../../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 14, ../../sass/main.scss */
body {
  font-family: 'Comfortaa', cursive;
  background-color: #FFF;
}

/* line 19, ../../sass/main.scss */
body > div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent center no-repeat;
  background-size: cover;
}

/* line 30, ../../sass/main.scss */
.image-frame {
  padding: 1em;
  padding-bottom: 0;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../../sass/main.scss */
.text {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  width: 55%;
  height: 100%;
  margin-right: 0%;
  left: 0;
  /* background-color: rgba(255,255,255,0.5); */
  padding-top: 1em;
  padding-left: 1em;
  color: #000;
}
/* line 51, ../../sass/main.scss */
.text p {
  line-height: 1.5em;
}

@media all and (min-width: 700px) {
  /* line 58, ../../sass/main.scss */
  .text h1 {
    font-size: 3em;
  }
  /* line 62, ../../sass/main.scss */
  .text p {
    font-size: 1.5em;
    padding-right: 0.5em;
  }
}
/* line 69, ../../sass/main.scss */
.img-logo {
  background-image: url("../assets/logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  max-height: 450px;
}

/* line 80, ../../sass/main.scss */
.img-glass-1 {
  background-image: url("../assets/glass1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  height: 70%;
}

/* line 90, ../../sass/main.scss */
.img-glass-2 {
  background-image: url("../assets/glass2.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 100%;
}

/* line 99, ../../sass/main.scss */
.button {
  float: right;
  width: auto;
  text-align: right;
  color: white;
  padding-right: 1.5em;
  padding-top: 2em;
}
/* line 108, ../../sass/main.scss */
.button > a {
  display: block;
  border: 0;
}
/* line 113, ../../sass/main.scss */
.button img {
  border: 0;
}
/* line 117, ../../sass/main.scss */
.button .link-img {
  margin-top: 1em;
}

/* line 122, ../../sass/main.scss */
.block-1 {
  background-color: #8b1523;
}

/* line 128, ../../sass/main.scss */
.block-2 background {
  color: white;
}

/* line 133, ../../sass/main.scss */
body > div:nth-child(2) {
  overflow: hidden;
}

/* line 138, ../../sass/main.scss */
.image-wrapper {
  height: 100%;
}

/* line 141, ../../sass/main.scss */
.img-2 {
  background-image: url("../assets/kontakt.jpg");
  padding: 2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 147, ../../sass/main.scss */
.box1 {
  height: 100%;
}

/* line 151, ../../sass/main.scss */
.box {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #8b1523;
}

/* line 158, ../../sass/main.scss */
p {
  margin: 1em 0;
}

/* line 160, ../../sass/main.scss */
.block-transp {
  background-color: rgba(255, 255, 255, 0.7);
  color: #FFF;
  font-family: 'Comfortaa', bold;
  padding: 0.5em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 2em;
}
/* line 170, ../../sass/main.scss */
.block-transp h1 {
  font-size: 1.5em;
  color: #8b1523;
}
/* line 174, ../../sass/main.scss */
.block-transp a {
  color: #8b1523;
}
/* line 178, ../../sass/main.scss */
.block-transp p {
  margin: 0.5em 0;
  color: #8b1523;
}
/* line 184, ../../sass/main.scss */
.block-transp .impressum-link {
  font-size: 0.5em;
  line-height: 0.5em;
  color: #8b1523;
}

/* line 193, ../../sass/main.scss */
a {
  color: #FFF;
}

/* line 197, ../../sass/main.scss */
.impressum {
  background-color: #8b1523;
  color: #FFF;
}

@media all and (max-width: 600px) {
  /* line 207, ../../sass/main.scss */
  .button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding-left: 1.5em;
  }
  /* line 213, ../../sass/main.scss */
  .button > a {
    float: left;
  }
  /* line 217, ../../sass/main.scss */
  .button .link-img {
    margin-top: -1em;
    float: right;
    width: 50%;
    text-align: right;
  }
  /* line 224, ../../sass/main.scss */
  .button .link-img img {
    width: 80%;
  }
}
@media all and (max-width: 800px) {
  /* line 233, ../../sass/main.scss */
  .button img {
    width: 40%;
  }
}
@media all and (max-width: 1099px) {
  /* line 241, ../../sass/main.scss */
  .button img {
    width: 60%;
  }
}
@media all and (min-width: 1100px) {
  /* line 249, ../../sass/main.scss */
  .button img {
    width: 60%;
  }
}
