/* line 4, ../../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 14, ../../sass/main.scss */
body {
  font-family: 'Comfortaa', cursive;
  background-color: #FFF;
}

/* line 19, ../../sass/main.scss */
body > div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent center no-repeat;
  background-size: cover;
}

/* line 30, ../../sass/main.scss */
.image-frame {
  padding: 1em;
  padding-bottom: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../../sass/main.scss */
.text {
  position: absolute;
  z-index: 20;
  /* background-color: rgba(255,255,255,0.5); */
  padding-top: 1em;
  padding-left: 1em;
  color: #fff;
}
/* line 45, ../../sass/main.scss */
.text p {
  line-height: 1.5em;
}

/* line 50, ../../sass/main.scss */
.img-logo {
  background-image: url("../assets/logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  max-height: 450px;
}

/* line 61, ../../sass/main.scss */
.img-glass-1 {
  background-image: url("../assets/glass1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  height: 70%;
}

/* line 71, ../../sass/main.scss */
.img-glass-2 {
  background-image: url("../assets/glass2.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 100%;
}

/* line 80, ../../sass/main.scss */
.button {
  float: right;
  width: auto;
  color: white;
  padding-right: 2em;
  padding-top: 2em;
}

/* line 89, ../../sass/main.scss */
.block-1 {
  background-color: #8b1523;
}

/* line 95, ../../sass/main.scss */
.block-2 background {
  color: white;
}

/* line 100, ../../sass/main.scss */
body > div:nth-child(2) {
  overflow: hidden;
}

/* line 105, ../../sass/main.scss */
.image-wrapper {
  height: 100%;
}

/* line 108, ../../sass/main.scss */
.img-2 {
  background-image: url("../assets/kontakt.jpg");
  font-size: 5em;
  color: #FFF;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0.5em 0.5em 0.5em black;
  -moz-box-shadow: 0.5em 0.5em 0.5em black;
  box-shadow: 0.5em 0.5em 0.5em black;
  padding: 0.5em;
}

/* line 118, ../../sass/main.scss */
.box1 {
  height: 100%;
}

/* line 122, ../../sass/main.scss */
.box {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #8b1523;
}

/* line 129, ../../sass/main.scss */
p {
  margin: 1em 0;
}
